<img class="bg-top" src="../assets/images/bg-top.svg" alt="bg-top">
<img class="bg-bottom" src="../assets/images/bg-bottom.svg" alt="bg-bottom">
<header>
  <h1>Our Pricing</h1>
  <label class="switch">
    <input type="checkbox" (click)="change()" checked>
    <span class="slider round"></span>
  </label>
</header>
<main class="d-flex justify-content-center container mt-5 flex-wrap">
  <pricing class="col-lg-4 col-12" [type]="word" [option]="optionBasic"></pricing>
  <pricing class="col-lg-4 col-12" [type]="word" [option]="optionPro" [doit]="'special'"></pricing>
  <pricing class="col-lg-4 col-12" [type]="word" [option]="optionMaster"></pricing>
</main>
