/* You can add global styles to this file, and also import other style files */
:root {

  // Primary

  --Linear-Gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --our-blue: hsl(237, 63%, 64%);

  // Neutral

  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);

}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;


}

body {
  min-height: calc(100vh - 20px);
  background-color: var(--Very-Light-Grayish-Blue) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
